<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>НОВАТЭК</title>
		<meta name="description" content="Керамзитные блоки, Уфа">
		<link href="styles/style.css" rel="stylesheet">
		<link href="styles/slider.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<div id="wrapper">

			<header>
			<div id="logo">
				<div id="head">
					<a href="index.html" class=''><span class='font-logo font-logo-big'>НОВАТЭК</span><span class="line-v"></span>
					<span class='font-logo font-logo-small pt5'>ГРУПП</span></a>
				</div>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			<div id="panel-info" class=''>
				<p id="address">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">Уфа Алатауская 7, а/я 41</span>
				</p>
				<p id="phone" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">+7(347) 246 57 77</span>
				</p>
				<p id="email" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">info@novatech-group.ru</span>
				</p>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			</header>

			<nav>
			<ul id="menu">
				<li><a id="about"  title="О компании" href="about.html">О компании</a></li>
				<li><a id="products" title="Продукция" href="products.html">Продукция</a></li>
				<li><a id="technology" title="Технологии" href="technology.html">Технологии</a></li>
				<li><a id="tocustomers" class='current' title="Заказчикам" href="customers.html">Заказчикам</a></li>
				<li><a id="vacancy" title="Вакансии" href="vacancy.html">Вакансии</a></li>
				<li><a id="contacts" title="Контакты" href="contacts.html">Контакты</a></li>
			</ul>
			</nav>
			<article class='span6'>
				<h1 class='headers2'>Нашим заказчикам</h1>
				<div class='row line-dotted'></div>
				<p class='span6 text-content'>Как часто возникает потребность в уменьшении себестоимости выпускаеой продукции или оборудования? Возможно, именно сейчас, её решение было бы кстати, и вовремя.</p>
				<p class='span6 text-content'>Современные решения, при правильном подходе дают существенный результат, который часто превосходит ожидания. При этом, следуя по данному направления инновационного развития, помимо уменьшения себестоимости продукции компания получает реальные решения модернизации с заделом на будущее. Все это, в совокупности дает стабильный и прогнозируемый рост продаж и рост компании.</p>
				<p class='span6 headers3 fln'>Нет двух одинаковых решений автоматизации.</p>
				<p class='span6 text-content'>Каждая компания имеет свои потребности в модернизации, как правило все эти решения уникальны. Универсальные подходы не всегда полезны, приходится часто переплачивать за избыточные функции и компенсировать недостающие такими же универсальными средствами. Если сеть узлов и агрегатов системы управления, представляет собой серьезную и дорогую конструкцию, то получается длинная цепочка универсальных устройств с огромным колличеством лишних и ненужных функций прревращающуюся в конце концов в сложно понимаемую и сложно контролирууемую систему. Как правило, после такого опыта руководители обращают внимание на кардинально новые решения с целью поставить точку в этом вопросе путем разработки узко направленного и специфического оборудования.</p>
			</article>
			<footer class='fln'>
				<p id='footer-text' class='pt30 span6 font-myriadPro text-small'>ООО "НОВАТЭК-ГРУПП" 2013 г.</p>
			</footer>
		</div>
	</body>
</html>