<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>НОВАТЭК</title>
		<meta name="description" content="Керамзитные блоки, Уфа">
		<link href="styles/style.css" rel="stylesheet">
		<link href="styles/slider.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<div id="wrapper">

			<header>
			<div id="logo">
				<div id="head">
					<a href="index.html" class=''><span class='font-logo font-logo-big'>НОВАТЭК</span><span class="line-v"></span>
					<span class='font-logo font-logo-small pt5'>ГРУПП</span></a>
				</div>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			<div id="panel-info" class=''>
				<p id="address">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">Уфа Алатауская 7, а/я 41</span>
				</p>
				<p id="phone" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">+7(347) 246 57 77</span>
				</p>
				<p id="email" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">info@novatech-group.ru</span>
				</p>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			</header>

			<nav>
			<ul id="menu">
				<li><a id="about" title="О компании" href="about.html">О компании</a></li>
				<li><a id="products" class='current' title="Продукция" href="products.html">Продукция</a></li>
				<li><a id="technology" title="Технологии" href="technology.html">Технологии</a></li>
				<li><a id="tocustomers" title="Заказчикам" href="customers.html">Заказчикам</a></li>
				<li><a id="vacancy" title="Вакансии" href="vacancy.html">Вакансии</a></li>
				<li><a id="contacts" title="Контакты" href="contacts.html">Контакты</a></li>
			</ul>
			</nav>
			<article class='span6'>
				<h1 class='headers2'>Наши технологии</h1>
				<div class='row line-dotted'></div>
				<div class='mt30 row line-dotted'></div>

				<div class='span2'><p class='mtb5 headers2-mtn text-center'>Системы автоматики</p></div>
				<div class='span2'><p class='mtb5 headers2-mtn text-center'>Интерфейсы</p></div>
				<div class='span2'><p class='mtb5 headers2-mtn text-center'>Программные продукты</p></div>
				<div class='row fln line-dotted'></div>
				<table class='span6 mt30'>
					<tr>
						<td class='span2'>
							<table class='span2'>
									<tr>
									<td class='tbl-row50'><a href="product1.html" class='link-img-c'><img src="img/icon-canopen.png"></a></td>
										<td class='tbl-row90'><a href='product1.html' class='tbl-link-brand'>Чистые помещения</a></td>
									</tr>
							</table>
						</td>
						<td class='span2'><a href='product1.html' class='link-img-c'><img src="img/icon-canopen.png"></a></td>
						<td class='span2'></td>
					</tr>
					<tr>
						<td class='span2'>
						<table class='span2'>
							<tr>
							<td class='tbl-row50'><a href="product1.html" class='link-img-c'><img src="img/icon-ethercar.png"></a></td>
									<td class='tbl-row90'><a href='product1.html' class='tbl-link-brand'>Сушильные камеры</a></td>
								</tr>
							</table>
						</td>
						<td class='span2'><a href='product1.html' class='link-img-c'><img src="img/icon-opc.png"></a></td>
						<td class='span2'></td>
					</tr>
					<tr>
						<td class='span2'>
							<table class='span2'>
								<tr>
									<td class='tbl-row50'><a href="product1.html" class='link-img-c'><img src="img/icon-modbus.png"></a></td>
									<td class='tbl-row90'><a href='product1.html' class='tbl-link-brand'>OPCnet</a></td>
								</tr>
							</table>
						</td>
						<td class='span2'><a href='product1.html' class='link-img-c'><img src="img/icon-modbus.png"></a></td>
						<td class='span2'></td>
					</tr>
					<tr>
						<td class='span2'>
							<table class='span2'>
								<tr>
									<td><img src=""></td>
									<td><a href='product1.html'></a></td>
								</tr>
							</table>
						</td>
						<td class='span2'><a href='product1.html' class='link-img-c'><img src="img/icon-opc.png"></a></td>
						<td class='span2'></td>
					</tr>
				</tbody>
			</table>
			</article>
			<footer class='fln'>
				<p id='footer-text' class='pt30 span6 font-myriadPro text-small'>ООО "НОВАТЭК-ГРУПП" 2013 г.</p>
			</footer>
		</div>
	</body>
</html>