<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>НОВАТЭК</title>
		<meta name="description" content="Керамзитные блоки, Уфа">
		<link href="styles/style.css" rel="stylesheet">
		<link href="styles/slider.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</script>

		

	</head>
	<body>
		<div id="wrapper">

			<header>
			<div id="logo">
				<div id="head">
					<a href="index.html" class=''><span class='font-logo font-logo-big'>НОВАТЭК</span><span class="line-v"></span>
					<span class='font-logo font-logo-small pt5'>ГРУПП</span></a>
				</div>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			<div id="panel-info" class=''>
				<p id="address">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">Уфа Алатауская 7, а/я 41</span>
				</p>
				<p id="phone" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">+7(347) 246 57 77</span>
				</p>
				<p id="email" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">info@novatech-group.ru</span>
				</p>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			</header>

			<nav>
			<ul id="menu">
				<li><a id="about" title="О компании" href="about.html">О компании</a></li>
				<li><a id="products" title="Продукция" href="products.html">Продукция</a></li>
				<li><a id="technology" title="Технологии" href="technology.html">Технологии</a></li>
				<li><a id="tocustomers" title="Заказчикам" href="customers.html">Заказчикам</a></li>
				<li><a id="vacancy"title="Вакансии" href="vacancy.html">Вакансии</a></li>
				<li><a id="contacts"title="Контакты" href="contacts.html">Контакты</a></li>
			</ul>
			</nav>
			<div class="span6">
				<h1 class='headers2'>АВТОМАТИКА КОМПЛЕКСА ЧИСТЫХ ПОМЕЩЕНИЙ</h1>
				<div class='row line-dotted'></div>
			</div>
			<div class="span6 mt30">
				<div data-configid="0/2529038" style="width: 840x; height: 266px;" class="issuuembed"></div><script type="	text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
				</div>
			</div>
			<div class="btn-download-pdf span1"></div>
			<div class="span6">
				<h1 class="headers2">КРАТКОЕ ОПИСАНИЕ ПРОДУКТА</h1>
				<div class='row line-dotted'></div>
				<p class='span6 text-content'>Автоматика комплекса чистых помещений NG-CL200, это программно-аппаратный комплекс, предназанченный для контроля и управления приточно-вытяжной вентиляцией, лампами ультрафиолетового облучения, контроля засоренности фильтров. Автоматика может быть объединена с другими системами и механизмами, быть в составе автоматизированной приточно-вытяжной вентиляционной системы</p>
			</div>
			<footer class="fln">
				<p id='footer-text' class='span6 font-myriadPro text-small'>ООО "НОВАТЭК-ГРУПП" 2013 г.</p>
			</footer>
		</div>
	</body>
</html>