<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>НОВАТЭК</title>
		<meta name="description" content="Керамзитные блоки, Уфа">
		<link href="styles/style.css" rel="stylesheet">
		<link href="styles/slider.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<div id="wrapper">

			<header>
			<div id="logo">
				<div id="head">
					<a href="index.html" class=''><span class='font-logo font-logo-big'>НОВАТЭК</span><span class="line-v"></span>
					<span class='font-logo font-logo-small pt5'>ГРУПП</span></a>
				</div>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			<div id="panel-info" class=''>
				<p id="address">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">Уфа Алатауская 7, а/я 41</span>
				</p>
				<p id="phone" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">+7(347) 246 57 77</span>
				</p>
				<p id="email" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">info@novatech-group.ru</span>
				</p>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			</header>

			<nav>
			<ul id="menu">
				<li><a id="about" title="О компании" href="about.html">О компании</a></li>
				<li><a id="products" title="Продукция" href="products.html">Продукция</a></li>
				<li><a id="technology" class='current' title="Технологии" href="technology.html">Технологии</a></li>
				<li><a id="tocustomers" title="Заказчикам" href="customers.html">Заказчикам</a></li>
				<li><a id="vacancy" title="Вакансии" href="vacancy.html">Вакансии</a></li>
				<li><a id="contacts" title="Контакты" href="contacts.html">Контакты</a></li>
			</ul>
			</nav>
			<article class='span6'>
				<h1 class='headers2'>Наши технологии</h1>
				<div class='row line-dotted'></div>
				

				<div class='span6'>
					<ul id='arhitecture' class='fll list-style-round'>
						<p class='headers3'>Архитектуры</p>
						<li class='ml35 font-myriadPro'>ARM</li>
						<li class='ml35 font-myriadPro'>x86</li>
					</ul>

					<ul id='arhitecture' class='ml35 fll list-style-round'>
						<p class='headers3'>Операционные системы</p>
						<li class='ml35 font-myriadPro'>Linux</li>
						<li class='ml35 font-myriadPro'>FreeRTOS</li>
						<li class='ml35 font-myriadPro'>QNX</li>
					</ul>

					<ul id='arhitecture' class='ml35 fll list-style-round'>
						<p class='headers3'>Программирование</p>
						<li class='ml35 font-myriadPro'>C/C++</li>
						<li class='ml35 font-myriadPro'>VHDL</li>
						<li class='ml35 font-myriadPro'>HTML5/CSS</li>
						<li class='ml35 font-myriadPro'>jQuery/AJAX</li>
						<li class='ml35 font-myriadPro'>JavaScript</li>
					</ul>

					<ul id='arhitecture' class='ml35 fll list-style-round'>
						<p class='headers3'>Беспроводные технологии</p>
						<li class='ml35 font-myriadPro'>WiFi</li>
						<li class='ml35 font-myriadPro'>Bluetooth</li>
						<li class='ml35 font-myriadPro'>ZigBee</li>
						<li class='ml35 font-myriadPro'>GSM/GPRS</li>
						<li class='ml35 font-myriadPro'>GPS</li>
					</ul>

					<ul id='arhitecture' class='ml35 fll list-style-round'>
						<p class='headers3'>Интерфейсы</p>
						<li class='ml35 font-myriadPro'>S/PDIF, AC97, 12S</li>
						<li class='ml35 font-myriadPro'>USB, Ethernet</li>
						<li class='ml35 font-myriadPro'>LCD, CF/MMC/SD</li>
						<li class='ml35 font-myriadPro'>CAN, LIN</li>
					</ul>

				</div>
			</article>
			<footer class='fln'>
				<p id='footer-text' class='pt30 span6 font-myriadPro text-small'>ООО "НОВАТЭК-ГРУПП" 2013 г.</p>
			</footer>
		</div>
	</body>
</html>