<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>НОВАТЭК</title>
		<meta name="description" content="Керамзитные блоки, Уфа">
		<link href="styles/style.css" rel="stylesheet">
		<link href="styles/slider.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<div id="wrapper">

			<header>
			<div id="logo">
				<div id="head">
					<a href="index.html" class=''><span class='font-logo font-logo-big'>НОВАТЭК</span><span class="line-v"></span>
					<span class='font-logo font-logo-small pt5'>ГРУПП</span></a>
				</div>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			<div id="panel-info" class=''>
				<p id="address">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">Уфа Алатауская 7, а/я 41</span>
				</p>
				<p id="phone" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">+7(347) 246 57 77</span>
				</p>
				<p id="email" class="font-myriadPro">
					<img src="img/icon-address.png">
					<span class="font-myriadPro">info@novatech-group.ru</span>
				</p>
			</div>
			<div class="line-h bg-gradient-gray"> </div>
			</header>

			<nav>
			<ul id="menu">
				<li><a id="about"  title="О компании" href="about.html">О компании</a></li>
				<li><a id="products" title="Продукция" href="products.html">Продукция</a></li>
				<li><a id="technology" title="Технологии" href="technology.html">Технологии</a></li>
				<li><a id="tocustomers" title="Заказчикам" href="customers.html">Заказчикам</a></li>
				<li><a id="vacancy" title="Вакансии" class='current' href="vacancy.html">Вакансии</a></li>
				<li><a id="contacts" title="Контакты" href="contacts.html">Контакты</a></li>
			</ul>
			</nav>
			<article class='span6'>
				<h1 class='headers2'>Наши вакансии</h1>
				<div class='row line-dotted'></div>
				<p class='offset1 span4 text-content'>Динамично развивающаяся инновационная компания "Новатек-групп" заинтересована в привлечении профессиональных и талантливых разработчиков, программистов, инженеров-электроников, топологов, опытных маркетологов.</p>
				<p class='offset1 span4 text-content'>Мы предлагаем широчайшие возможности для раскрытия собственного потенциала и карьрного роста сотрудников</p>
				<p class='offset1 span4 text-content'>Если вы хотите стать частью команды "Новатек-групп" отправляйте резюме в отдел кадров.</p>
			</article>
			<footer class='fln'>
				<p id='footer-text' class='pt30 span6 font-myriadPro text-small'>ООО "НОВАТЭК-ГРУПП" 2013 г.</p>
			</footer>
		</div>
	</body>
</html>