/*-----------------Слайдер----------------*/
#slider {
	margin:0 auto; 
	margin-top:30px;
	height: 200px;
	width:840px;
}

#left_arrow, #right_arrow {
	cursor:pointer;
	width: 50px;
	height: 200px;
	position:absolute;
	z-index:1000;
}
#left_arrow {
	background: url(../img/arrows-slider.png) no-repeat;
	float:left;
}
#left_arrow:hover {
	background-position: -50px 0;
}
#right_arrow {
	background: url(../img/arrows-slider.png) no-repeat 0 -200px;
	margin-left:786px;
}
#right_arrow:hover {
	background-position: -50px -200px;
}
.slides_container {
	margin-left:50px;
	height:200px;
	float:left;
	width:840px;
}
.pagination  {
	position: absolute;
	float: left;
	width: 180px;
	height:22px;
	margin-top: 210px;
	margin-left: 380px;
	z-index: 998;
}
.pagination li {
	float:left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	border-radius:5px;
	background-color:#979797;
	text-align: center;
	font-size: 2px;
}
.pagination li:hover{
	background-color:#44a1d1;
}
.pagination li.current {
	background-color:#44a1d1;
}
.pagination li a {
	color: #6d6d6a;
	text-decoration: none;
	display: block;
	line-height:18px;
	opacity: 0;
}
.pagination li:hover a,.pagination li.current a{
	color: #000;
}
