/*-----------------Слайдер----------------*/
#slider {
height: 490px;
width:960px;
}

#left_arrow, #right_arrow {
cursor:pointer;
width: 50px;
height: 490px;
position:absolute;
z-index:1000;
}
#left_arrow {
	background: url(../img/btn_prev01.png) no-repeat center;

float:left;
}
#left_arrow:hover {
background: url(../img/btn_prev02.png) no-repeat center;
}
#right_arrow {
background: url(../img/btn_next01.png) no-repeat center;

margin-left:910px;
}
#right_arrow:hover {
background: url(../img/btn_next02.png) no-repeat center;
}
.slides_container {
height:490px;
float:left;
width:960px;
}
.pagination  {
position: absolute;
float: left;
width: 180px;
height:22px;
margin-top: 465px;
margin-left: 440px;
z-index: 998;
}
.pagination li {
float:left;
margin-left: 5px;
width: 10px;
height: 10px;
border-radius:5px;
background-color:#FFF;
text-align: center;
font-size: 2px;
}
.pagination li:hover{
background-color:#231f20;
}
.pagination li.current {
background-color:#231f20;
}
.pagination li a {
color: #6d6d6a;
text-decoration: none;
display: block;
line-height:18px;
opacity: 0;
}
.pagination li:hover a,.pagination li.current a{
color: #000;
}
